.faq-container {
  padding: 80px 7%;
  background-color: #f9f9f9;
  width: 100%;
}

.faq-header {
  text-align: center;
  margin-bottom: 50px;
}

.faq-header h1 {
  font-size: 36px;
  margin-top: 10px;
}

.faq-list {
  max-width: 900px;
  margin: 0 auto;
}

.faq-item {
  background: white;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq-item.active {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.faq-question {
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question h3 {
  font-size: 18px;
  font-weight: 600;
  color: #000f38;
}

.faq-icon {
  font-size: 24px;
  color: #212ea0;
  font-weight: bold;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;
}

.faq-item.active .faq-answer {
  max-height: 200px; /* Adjust based on content */
  padding-bottom: 20px;
}

.faq-answer p {
  padding: 0 25px 20px 25px;
  color: gray;
  line-height: 1.6;
}
