.newsletter-container {
  padding: 60px 7%;
  background-color: #f0f2ff;
  width: 100%;
}

.newsletter-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}

.newsletter-text h2 {
  font-size: 32px;
  color: #000f38;
}

.newsletter-text p {
  color: gray;
  margin-top: 5px;
}

.newsletter-form {
  display: flex;
  gap: 15px;
  min-width: 450px;
}

.newsletter-form input {
  flex: 1;
  padding: 15px 20px;
  border-radius: 30px;
  border: 1px solid #ddd;
  outline: none;
}

.newsletter-form button {
  padding: 15px 35px;
  border-radius: 30px;
  background-color: #212ea0;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #1a2580;
}

@media (max-width: 900px) {
  .newsletter-content {
    flex-direction: column;
    text-align: center;
  }
  .newsletter-form {
    min-width: 100%;
    width: 100%;
  }
}
