@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  border: none;
}
.total-container {
  overflow-x: hidden;
  z-index: -4;
  background-color: #f5f5f5;
}
.blue-color {
  color: #212ea0;
}
.dark-blue-color {
  color: #000f38;
}
